<% for (id = 0; id < (shops.length >= 20 ? 20 : shops.length); id = id + 4)	{
	if (page != 0) { %>
	<hr />
	<% } %>
	<section class="feature-services container" id="shopGroup<%= id %>" >
		<article class="one-forth clearfix" id="<%= shops[id]._id %>" >
			<a class="wp-icon" href="<%= shops[id].shopwebsite %>" ><img src="<%= shops[id].shoplogo %>" alt="<%= shops[id].shopwebsite %>" id="<%= shops[id]._id %>"/></a>
			<h3 class="entry-title"><a href="<%= shops[id].shopname %>"><%= shops[id].shopname %></a></h3>
		</article><!--end:one-forth-->
		<% if((shops.length - id) > 1) { %>
		<article class="one-forth one-column clearfix" id="<%= shops[id + 1]._id %>" >
			<a class="wp-icon" href="<%= shops[id + 1].shopwebsite %>" ><img src="<%= shops[id + 1].shoplogo %>" alt="<%= shops[id + 1].shopwebsite %>" id="<%= shops[id + 1]._id %>"/></a>
			<h3 class="entry-title"><a href="<%= shops[id + 1].shopname %>"><%= shops[id + 1].shopname %></a></h3>
		</article><!--end:one-forth-->
		<% } 
		if((shops.length - id) > 2) { %>
		<article class="one-forth clearfix" id="<%= shops[id + 2]._id %>" >
			<a class="wp-icon" href="<%= shops[id + 2].shopwebsite %>" ><img src="<%= shops[id + 2].shoplogo %>" alt="<%= shops[id + 2].shopwebsite %>" id="<%= shops[id + 2]._id %>"/></a>
			<h3 class="entry-title"><a href="<%= shops[id + 2].shopname %>"><%= shops[id + 2].shopname %></a></h3>
		</article><!--end:one-forth-->
		<% } 
		if((shops.length - id) > 3) { %>
		<article class="one-forth last clearfix" id="<%= shops[id + 3]._id %>" >
			<a class="wp-icon" href="<%= shops[id + 3].shopwebsite %>" ><img src="<%= shops[id + 3].shoplogo %>" alt="<%= shops[id + 3].shopwebsite %>" id="<%= shops[id + 3]._id %>"/></a>
			<h3 class="entry-title"><a href="<%= shops[id + 3].shopname %>"><%= shops[id + 3].shopname %></a></h3>
		</article><!--end:one-forth-->
		<% } %>
		<div class="clear"></div>
	</section>
	<% if((shops.length - id) <= 4) { %>
	<br />
	<% } %>
<% } %>	