<div class="wrap">
    <div id="container" class="container inner_content">
        <div id="options">                                           
            <ul id="filters" class="option-set" data-option-key="filter">
                <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">All</a></li>
                <li><a href="#filter" data-option-value=".chinese-style" class="btn dark_btn">Chinese Style</a></li>                                            
                <li><a href="#filter" data-option-value=".western-style" class="btn dark_btn">Western Style</a></li>
            </ul>                                           
            <div class="clear"></div>
        </div>
        <div class="row">
            <!-- portfolio_block -->
            <div class="projects">
            <% for(var i=0; i<canyin_shops.length; i++){ %>                                 
                <div id='<%= canyin_shops[i]._id %>' class="span3 element <%= canyin_shops[i].style %>" data-category="<%= canyin_shops[i].style %>">
                    <div class="hover_img"> 
                        <img src="<%= canyin_shops[i].shoplogo %>" alt="" />                       
                        <span class="portfolio_zoom"><a href="#inline_canyin_chart_view" rel="prettyPhoto"></a></span>
                        <span class="portfolio_link"><a href="single_portfolio.html">View item</a></span>
                    </div> 
                    <div class="item_description">
                        <h6><a href="<%= canyin_shops[i].shopwebsite %>"><%= canyin_shops[i].shopname %></a></h6>
                        <div class="descr"><%= canyin_shops[i].description %></div>
                    </div>                                    
                </div>
            <% } %>
                <div id="inline_canyin_chart_view" style="display:none;">
                    <div id="canyin_chart_view"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>                
                <div class="clear"></div>
            </div>   
            <!-- //portfolio_block -->   
        </div>
    </div>
</div>